h1{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(2, 8, 17);
}

img{
    width: 200px;
    border: solid 8px;
    border-color: rgb(17, 151, 151);
}

body{
    background-color: #5cddccfb;
    margin : 0px;
}

h2{
font-size: 50px;
color: rgb(2, 15, 24);
font-family: sans-serif;
margin: 0px;
}



.btn {
    background: #3DF6A3;
    background-image: -webkit-linear-gradient(top, #04a78bee, #04a78bee);
    background-image: -moz-linear-gradient(top, #04a78bee, #04a78bee);
background-image: -ms-linear-gradient(top, #04a78bee, #04a78bee);
background-image: -o-linear-gradient(top, #04a78bee, #04a78bee);
background-image: linear-gradient(to bottom, #04a78bee, #04a78bee);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
color: #ffffff;
font-family: Verdana;
font-size: 15px;
font-weight: 100;
padding: 10px;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 20px 0px #000000;
-moz-box-shadow: 1px 1px 20px 0px #000000;
text-shadow: 1px 1px 20px #000000;
border: solid #337FED 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.btn:hover {
    border: solid #1b9cc4 1px;
    background: #1eacd0;
    background-image: -webkit-linear-gradient(top, #32f1b1fb, #32f1b1fb);
    background-image: -moz-linear-gradient(top, #32f1b1fb, #32f1b1fb);
    background-image: -ms-linear-gradient(top, #32f1b1fb, #32f1b1fb);
    background-image: -o-linear-gradient(top, #32f1b1fb, #32f1b1fb);
    background-image: linear-gradient(to bottom, #32f1b1fb, #32f1b1fb);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }


.cont{
    background-color: #0ec2aa;
    margin : 0px;
    padding:0px;
    height: 50px;
    padding-top: 30px;
    margin-bottom: 50px;
}

span{
    color: rgb(28, 25, 235);
}
