<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <center>
            <div class='cont'>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2>GET METER READING VALUES</h2>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        <form method="POST" action="{{url_for('reading_value_display')}}" enctype="multipart/form-data">
            <input type="radio" id="best" name='mtype' class='btn' value="best" checked><label for="best">Best</label> 
            <input type="radio" id="light" name='mtype' class='btn' value="light"><label for="light">Light</label>  <br><br><br>
            <input type="file" name='image' class='btn' required><br><br><br>
            <input type="submit" class='btn'>
        </form>

    </center>

    </body>
</html>