<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <center>
            <div class='cont'>
                Meter reading values
        </div>
            <h3>values</br>{{data}}</h3>
            <img src="{{url_for('load_crop_img', fname=fname)}}" alt='img'>
            <br>
            <br>
            <a href="/reading-value" class='btn'>GO BACK</a>

        </center>

    </body>
</html>